---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <Header />
  <main id="main-content" class="container mx-auto px-4 py-8">
    <article class="prose prose-slate dark:prose-invert mx-auto">
      <p class="text-xl italic text-center">
        或许是不知梦的缘故，流离之人追逐幻影
      </p>
    </article>
  </main>
  <Footer />
</Layout> 